	h1{
			font-family: Helvetica neue, roboto;
			font-size: 56px;
			color: pink;
		}

		a:hover{
			color: green;
		}

		a:visited{
			color: orange;
		}
		.profile{
			width:40px;
			height:40px;
			border-radius: 50%;
			margin-left: 50px;
			margin-top: 50px;
			display: block;



		}
		html{background: ;}
		nav{
			display: inline;
		}

html{
	font-family: "roboto";
}